* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/showcase.jpg') center center/cover;
    height: 100vh;
    color: #181818;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* btns */
#btn-open {
    cursor: pointer;
    display: inline-block;
    border: none;
    background: #ffe6a7;
    color: #181818;
    padding: 0.5rem 2.5rem;
    font-weight: 600;
    border-radius: 5px;
}

#btn-open:hover {
    background: #99582a;
    color: #fff1ce;
}

#btn-close {
    cursor: pointer;
    color: #99582a;
    font-size: 1.5rem;
}

#btn-close:hover {
    color: #181818;
}

#btn-signin {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #99582a;
    color: #fff;
    letter-spacing: 0.8px;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0.5rem 0 1.5rem;
}

#btn-signin:hover {
    background: #432818;
}

/* header */
#main-header {
    background: #432818;
    padding: 1.5rem 4rem;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    width: 500px;
    margin: 7rem auto;
    padding: 2rem;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.45);
    animation-name: modalopen;
    animation-duration: 1s;
}

@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* form */
#form-input input {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
}

#form-input .form-control {
    padding: 0.5rem 0;
}

/* redirect */
.redirect a {
    color: #432818;
    font-size: 0.9rem;
    font-weight: 500;
}

.redirect {
    margin-bottom: 1.5rem;
}

.new-member-content {
    color: #181818;
    font-size: 1rem
}

.new-member-content a {
    color: #99582a;
    font-weight: 500;
}

@media(max-width:780px) {
    .modal-content {
        width: 450px;
    }
}